
*.cache
ChatBackEnd/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ChatBackEnd/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ChatBackEnd/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
EVOCraft.Common/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
EVOCraft.Common/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
EVOCraft.Common/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
EVOCraft.Common_UTest/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
EVOCraft.Common_UTest/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
EVOCraft.Common_UTest/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
EVOCraft.Core/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
EVOCraft.Core/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
EVOCraft.Core/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
EVOCraft.MenuGridFinal/MenuGridFinal/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
EVOCraft.MenuGridFinal/MenuGridFinal/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
EVOCraft.MenuGridFinal/MenuGridFinal/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
EVOCraft.MenuGridFinal/MenuGridFinal/obj/Debug/App.g.i.cs
EVOCraft.MenuGridFinal/MenuGridFinal/obj/Debug/Credits.g.i.cs
EVOCraft.MenuGridFinal/MenuGridFinal/obj/Debug/Create.g.i.cs
EVOCraft.MenuGridFinal/MenuGridFinal/obj/Debug/EndGameWindow.g.i.cs
EVOCraft.MenuGridFinal/MenuGridFinal/obj/Debug/EvoCraft_Content.g.i.cs
EVOCraft.MenuGridFinal/MenuGridFinal/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
EVOCraft.MenuGridFinal/MenuGridFinal/obj/Debug/LoadingScreen.g.i.cs
EVOCraft.MenuGridFinal/MenuGridFinal/obj/Debug/LogoScreen.g.i.cs
EVOCraft.MenuGridFinal/MenuGridFinal/obj/Debug/MainMenu.g.i.cs
EVOCraft.MenuGridFinal/MenuGridFinal/obj/Debug/MainWindow.g.i.cs
EVOCraft.MenuGridFinal/MenuGridFinal/obj/Debug/MapSelector.g.i.cs
EVOCraft.MenuGridFinal/MenuGridFinal/obj/Debug/Options.g.i.cs
EVOCraft.MenuGridFinal/MenuGridFinal/obj/Debug/RunningGame.g.i.cs
EVOCraft.MenuGridFinal/MenuGridFinal/obj/Debug/TutorialsPage.g.i.cs
EVOCraft.MenuGridFinal/MenuGridFinal/obj/Debug/Join.g.i.cs
EVOCraft.MenuGridFinal/MenuGridFinal/bin/Debug/EvoCraft.exe
EVOCraft.MenuGridFinal/MenuGridFinal/bin/Debug/EvoCraft.exe
EVOCraft.MenuGridFinal/MenuGridFinal/bin/Debug/EvoCraft.pdb
EVOCraft.MenuGridFinal/MenuGridFinal/bin/Debug/EvoCraft.vshost.exe.manifest
EVOCraft.MenuGridFinal/MenuGridFinal/obj/Debug/EvoCraft.exe
EVOCraft.MenuGridFinal/MenuGridFinal/obj/Debug/EvoCraft.pdb
EVOCraft.MenuGridFinal/MenuGridFinal/obj/Debug/EvoCraft_MarkupCompile.i.lref
EVOCraft.MenuGridFinal/MenuGridFinal/bin/Debug/EvoCraft.exe
*.pdb
